@font-face {
	font-family: 'Circe';
	font-display: swap;
	src: url('../fonts/Circle-Regular.otf');
	src: local("O"), url('../fonts/Circle-Regular.otf') format("opentype"); 
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	font-display: swap;
	src: url('../fonts/circe-bold.ttf');
	src: local("O"), url('../fonts/circe-bold.ttf') format("truetype"); 
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Plumb';
	font-display: swap;
	src: url('../fonts/plumb-bold.otf');
	src: local("O"), url('../fonts/plumb-bold.otf') format("opentype"); 
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Plumb';
	font-display: swap;
	src: url('../fonts/plumb-medium.otf');
	src: local("O"), url('../fonts/plumb-medium.otf') format("opentype"); 
	font-weight: 500;
	font-style: normal;
}
* {
    font-family: 'Circe', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.title, 
.subtitle,
.caption {
    font-family: 'Plumb', sans-serif;
    font-weight: 500;
}
.title {
    font-size: 64px;
    line-height: 101px;
    text-transform: uppercase;
}
.subtitle {
    font-size: 21px;
    line-height: 27px;
    color: #fff;
}
.description {
    font-size: 24px;
    line-height: 33px;
}
.link {
    font-family: 'Circe', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}
.link:hover {
    text-decoration: underline;
    color: #FFC41E;
    transition: .1s linear;
}
.transition {
    display: block;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #fff;
}
.column {
    display: flex;
    flex-direction: column;
}
.caption {
    font-size: 30px;
    line-height: 39px;
    color: #2E373B;
}
img {
    display: flex;
    width: 100%;
}
time {
    display: block;
}
li {
    list-style: none;
}

/* =========== Header =========== */

.header {
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #FFFFFF;
}
.header__inner {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 33px 15px;
}
.navigation__list {
    display: flex;
}
.list__item {
    margin-left: 47px;
}
.header__navigation-link {
    color: #fff;
}
.header__navigation-link:hover {
    transition: .2s linear;
    color: #FFC41E;
    text-decoration: underline;
}
.list__item:first-child {
    margin: 0;
}
.header__features {
    display: flex;
    align-items: center;
}
.header__search {
    display: flex;
    margin-right: 70px;
}
.header__search img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition: .4s linear;
}
.header__language {
    display: flex;
}
.header__language:before {
    content: '';
    display: inline-block;
    background-image: url('../img/globe.svg');
    height: 20px;
    width: 20px;
    margin-right: 11px;
}
.header__language:hover:before {
    background-image: url('../img/globe-hover.svg');
    transition: .1s linear;
}

/* =========== Header adaptive =========== */

@media screen and (min-width: 1px) {
    
    .header__inner {
        flex-direction: column;
    }
    .header__logo {
        margin-bottom: 25px;
    }
    .header__navigation {
        margin-bottom: 20px;
    }
    .header__navigation-link {
        font-size: 20px;
        line-height: 27px;
    }
    .navigation__list {
        justify-content: center;
        flex-wrap: wrap;
    }
    .list__item,
    .list__item:first-child {
        margin: 20px;
    }
}
@media screen and (min-width: 595px) {
    .header__navigation-link {
        font-size: 16px;
        line-height: 21px;
    }
    .list__item,
    .list__item:first-child {
        margin: 15px;
    }
}
@media screen and (min-width: 850px) {
    .header__navigation-link {
        font-size: 16px;
        line-height: 21px;
    }
    .list__item{
        margin-left: 47px;
    }
    .list__item:first-child {
        margin-left: 0px;
    }
}
@media screen and (min-width: 1180px) {
    .header__inner {
        flex-direction: row;
    }
    .header__logo {
        margin-bottom: 0px;
    }
    .header__navigation {
        margin-bottom: 0px;
    }
}

/* =========== Intro =========== */

.intro {
    background: url(../img/intro-bg.png) center no-repeat;
    background-size: cover;
    color: #fff;
}
.intro__content {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.transition--information {
    margin-top: 15px;
}
.transition--intro {
    margin-top: 25px;
}
.transition:after {
    content: '';
    display: inline-block;
    background: url(../img/arrow.svg) no-repeat;
    width: 20px;
    height: 8px;
    margin-left: 10px;
}
.transition:hover {
    text-decoration: underline;
}
.transition:hover:after {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-left: 20px;
    transition: .3s linear;
}
.intro__information {
    display: flex;
    justify-content: space-between;
}
.information__main {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    margin-bottom: 53px;
}
.information__block {
    max-width: 255px;
    max-height: 148px;
    padding: 30px 40px;
    margin: 0px 30px 30px 0px;
    background-color: #2378FC;
}
.information__block--application,
.information__block--plan {
    max-height: 175px;
}
.information__block--route {
    background-color: #30BCC9;
    margin-right: 0px;
}
.information__block--application {
    background-color: #FFC41E;
    margin-bottom: 0px;
}
.information__block--plan {
    background-color: #F6404F;
    margin: 0px;
}
/* =========== Intro adaptive =========== */

@media screen and (min-width: 1px) {
    .intro {
        padding-top: 364px;
    }
    .intro__content {
        text-align: center;
    }
    .title--intro {
        padding: 35px 0px;
        font-size: 38px;
        line-height: 60px;
    }
    .intro__information {
        flex-direction: column;
    }
    .transition--intro {
        margin: 25px 0px;
    }
    .information__main {
        justify-content: center;
    }
    .information__block {
        margin: 0px 0px 30px 0px;
    }
}
@media screen and (min-width: 500px) {
    .information__main {
        flex-direction: column;
        margin: 0px auto;
    }
}
@media screen and (min-width: 596px) {
    .intro {
        padding-top: 250px;
    }
    .intro__content {
        min-height: 0px;
    }
}
@media screen and (min-width: 660px) {
    .information__main {
        flex-direction: row;
        margin-bottom: 53px;
        max-width: none;
    }
    .information__block {
        margin: 0px 30px 30px 0px;
    }
    .information__block--route {
        margin-right: 0px;
    }
    .information__block--application {
        margin-bottom: 0px;
    }
    .information__block--plan {
        margin: 0px;
    }
}
@media screen and (min-width: 740px) {
    .information__main {
        padding: 0px 100px;
    }
}
@media screen and (min-width: 1020px) {
    .information__main {
        padding: 0px;
        max-width: 540px;
    }
}
@media screen and (min-width: 1120px) {
    .intro__content {
        padding: 0px 30px;
        text-align: unset;
    }
    .intro__information {
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px) {
    .intro {
        padding: 0px;
    }
    .intro__content {
        min-height: 800px;
        padding: 0px;
    }
}
/* =========== Side-menu =========== */

.side-menu {
    padding: 75px 0px;
    background-color: #2378FC;
}
.side-menu__column {
    display: flex;
    justify-content: space-between;
}
.subtitle--menu {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
}
.column__menu--link {
    display: inline-block;
    margin-bottom: 15px;
}

/* =========== Side-menu adaptive =========== */
@media screen and (min-width: 1px) {
    .side-menu {
        padding: 40px;
        text-align: center;
    }
    .side-menu__column {
        flex-direction: column;
    }
    .column:not(:last-child) {
        margin-bottom: 40px;
    }
    .column__menu--link {
        margin-bottom: 20px;
        font-size: 18px;
    }
}
@media screen and (min-width: 768px) {
    .side-menu {
        padding: 40px;
        text-align: unset;
    }
    .side-menu__column {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .column {
        padding: 0px 40px;
        min-width: 200px;
    }
}
@media screen and (min-width: 1040px) {
    .column {
        padding: 0px 70px;
    }
}
@media screen and (min-width: 1400px) {
    .side-menu__column {
        justify-content: space-between;
    }
    .column {
        max-width: 220px;
        padding: 0px;
    }
    .column__menu--link {
        font-size: 16px;
    }
}
/* =========== Events =========== */

.events {
    padding: 75px 20px 80px;
    background-color: #FFC41E;
    color: #2E373B;
}
.events__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.transition--events {
    display: flex;
    align-items: center;
    font-size: 21px;
    line-height: 27px;
    color: #2E373B;
}
.transition.transition--events::after {
    background: url(../img/black-arrow.svg) no-repeat;
    width: 28px;
    height: 14px;
}
.events__development {
    display: flex;
    flex-wrap: wrap;
}
.events__item {
    max-width: 350px;
}
.events__item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.events__item--chest {
    margin-bottom: 18px;
}
.events__item img {
    margin-bottom: 20px;
}
.events__item img:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transition: .2s linear;
}
.events__date,
.events__name {
    margin-bottom: 10px;
}
.events__date {
    font-size: 14px;
    line-height: 19px;
}
.events__name {
    font-family: 'Plumb', sans-serif;
    display: inline-block;
    font-size: 21px;
    line-height: 27px;
    color: #F6404F;
    font-weight: 700;
}
.events__name:hover {
    text-decoration: underline;
}
.events__description {
    font-size: 16px;
    line-height: 21px;
}
/* =========== Events adaptive =========== */
@media screen and (min-width: 1px) {
    .events {
        padding: 35px 20px 40px;
    }
    .events__development {
        justify-content: center;
    }
    .events__development .events__item {
        margin: 0px 0px 35px 0px;
        box-shadow: 0px 0px 10px;
        border-radius: 20px;
        padding: 40px 20px;
        text-align: center;
    }
    .events__item img {
        border-radius: 10px;
    }
    .events__main {
        flex-direction: column;
        margin-bottom: 35px;
    }
    .caption {
        margin-bottom: 30px;
        text-align: center;
    }
    .transition {
        justify-content: center;
    }
}
@media screen and (min-width: 700px) {
    .events {
        padding: 75px 0px 80px 0px;
    }
    .events__development .events__item {
        margin: 0px 30px 35px;
    }
}
@media screen and (min-width: 1040px) {
    .events__development .events__item {
        margin: 0px 0px 35px 0px;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
        padding: 0px;
        text-align: unset;
    }
    .events__item:not(:nth-child(3n)) {
        margin-right: 30px;
    }
    .events__item--chest {
        margin-bottom: 18px;
    }
}
@media screen and (min-width: 1040px) {
    .events__main {
        flex-direction: row;
        margin-bottom: 55px;
    }
    .events__development .caption {
        margin-bottom: 0px;
        text-align: unset;
    }
    .events__development .transition {
        justify-content: unset;
    }
}
/* =========== News =========== */

.news {
    background: #FAF3E3;
    padding: 75px 0px 85px 0px;
}
.news__content {
    display: flex;
}
.news__images img:first-child {
    margin-bottom: 55px;
}
.transition--news {
    color: #2E373B;
    font-size: 21px;
    line-height: 27px;
}
.transition.transition--news:after {
    background: url(../img/grey-arrow.svg) no-repeat;
    width: 28px;
    height: 14px;
}
.news__head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
}
.news__article {
    display: flex;
    margin-bottom: 30px;
}
.news__article:last-child {
    margin-bottom: 0px;
}
.news__article img {
    margin-right: 30px;
}
.article__info {
    display: flex;
    flex-direction: column;
}
.article__time {
    padding: 15px 0px;
    font-size: 16px;
    line-height: 21px;
    color: #F6404F;
}
.news__link {
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    color: #2E373B;
}
.news__link:hover {
    text-decoration: underline;
}
/* =========== News adaptive =========== */
@media screen and (min-width: 1px) {
    .news {
        padding: 75px 20px 85px;
    }
    .news__content,
    .news__head,
    .news__article {
        flex-direction: column;
    }
    .news__images {
        margin-bottom: 50px;
    }
    .news__head {
        align-items: center;
    }
    .news__article {
        padding: 30px 10px;
        box-shadow: 0px 0px 10px;
        border-radius: 20px;
    }
    .news__article img {
        border-radius: 10px;
    }
}
@media screen and (min-width: 550px) {
    .news {
        padding: 75px 40px 85px;
    }
    .news__head {
        flex-direction: row;
    }
    .news__article {
        flex-direction: row;
        padding: 0px;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
    }
    .news__article a {
        display: flex;
        margin-right: 30px;
    }
    .news__article img {
        margin-right: 0px;
    }
}
@media screen and (min-width: 950px) {
    .news {
        padding: 75px 70px 85px;
    }
}
@media screen and (min-width: 1260px) {
    .news__content {
        flex-direction: row;
    }
    .news__head {
        align-items: baseline;
    }
    .news__images {
        margin-bottom: 0px;
    }
    .news__article img {
        margin-right: 30px;
        border-radius: 0px;
        display: inline-block;
        width: auto;
    }
    .news__article a {
        margin-right: 0px;
    }
    .news__images img {
        display: inline-block;
        width: auto;
    }
    .caption--news {
        margin-bottom: 0px;
        text-align: unset;
    }
}
/* =========== Footer =========== */

.footer {
    padding: 60px 0px 70px 0px;
    background-color: #30BCC9;
}
.footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
}
.column__footer--link {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #E0E0E0;
}
.social__icons {
    display: flex;
}
.youtube {
    background-image: url(../img/youtube.svg);
    width: 35px;
    height: 25px;
}
.youtube:hover {
    background-image: url(../img/youtubehover.svg);
    transition: .2s linear;
}
.vk {
    background-image: url(../img/vk.svg);
    width: 44px;
    height: 25px;
}
.vk:hover {
    background-image: url(../img/vkhover.svg);
    transition: .2s linear;
}
.facebook {
    background-image: url(../img/facebook.svg);
    width: 14px;
    height: 25px;
}
.facebook:hover {
    background-image: url(../img/facehover.svg);
    transition: .2s linear;
}
.instagram {
    background-image: url(../img/instagram.svg);
    width: 25px;
    height: 25px;
}
.instagram:hover {
    background-image: url(../img/instahover.svg);
    transition: .2s linear;
}
.social__icons a {
    margin-right: 30px;
}
.column--app a {
    display: flex;
}
.column--app a:not(:last-child) {
    margin-bottom: 20px;
}
.column--app img {
    opacity: 0.8;
}
.column--app img:hover,
.column--app img:focus {
    transition: .2s linear;
    opacity: 1;
}
.subtitle--footer {
    margin-bottom: 20px;
}
.form__footer {
    max-width: 255px;
    display: flex;
    flex-direction: column;
}
.form__footer h2 {
    margin-bottom: 15px;
}
.subscribe {
    margin-bottom: 25px;
    color: #E0E0E0;
}
.subscribe:active {
    color: #FFC41E;
}
.subscribe:hover {
    text-decoration: underline;
}
.footer__direction {
    display: flex;
}
input {
    width: 215px;
    height: 40px;
    padding: 13px 20px 11px;
    border: 0;
    outline: 0;
}
input:focus {
    transition: .4s linear;
    border: 1px solid #F6404F;
}
input::placeholder {
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
}
.message {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #F6404F;
    cursor: pointer;
}
/* =========== Footer adaptive =========== */
@media screen and (min-width: 1px) {
    .footer__menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .subtitle--footer {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .column__footer--link {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .social__icons {
        justify-content: center;
    }
    .social__icons .instagram {
        margin-right: 0px;
    }
    .column--app a:not(:last-child) {
        margin-bottom: 30px;
    }
    .column--app a {
        justify-content: center;
    }
    .footer img {
        width: auto;
    }
    .form__footer {
        margin: 0px auto;
    }
}
@media screen and (min-width: 680px) {
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1080px) {
    .footer__menu {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1400px) {
    .footer__menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: unset;
    }
    .subtitle--footer {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .column__footer--link {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .social__icons {
        justify-content: unset;
    }
    .column--app a {
        justify-content: unset;
    }
    .footer img {
        width: auto;
    }
    .form__footer {
        margin: 0px;
    }
}