@font-face {
	font-family: 'Circe';
	font-display: swap;
	src: url('../fonts/Circle-Regular.otf');
	src: local("O"), url('../fonts/Circle-Regular.otf') format("opentype"); 
	font-weight: normal;
	font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
.title {
    font-size: 64px;
    line-height: 101px;
    text-transform: uppercase;
    font-weight: 700;
}
.subtitle {
    font-size: 21px;
    line-height: 27px;
    font-weight: 500;
}
.description {
    font-size: 24px;
    line-height: 33px;
}
.link {
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}
.link:hover {
    text-decoration: underline;
    color: #FFC41E;
    transition: .1s linear;
}
.transition {
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}
.column {
    display: flex;
    flex-direction: column;
}
.caption {
    font-size: 30px;
    line-height: 39px;
    font-weight: 500;
    color: #2E373B;
}
time {
    display: block;
}
/* =========== Header =========== */

.header {
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #FFFFFF;
}
.header__inner {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 33px 0px;
}
.header__navigation-link {
    margin-left: 47px;
    font-family: 'Circe', sans-serif;
    color: rgb(255, 255, 255, 0.75);
}
.header__navigation-link:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.header__navigation-link:first-child {
    margin: 0;
}
.header__search {
    margin-right: 70px;
}
.header__search img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transition: .4s linear;
}
.header__language:before {
    content: '';
    display: inline-block;
    background-image: url('../img/globe.svg');
    height: 20px;
    width: 20px;
    margin-right: 11px;
}

/* =========== Intro =========== */

.intro {
    background: url(../img/intro-bg.png) center no-repeat;
    background-size: cover;
    color: #fff;
}
.intro__content {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.transition--information {
    margin-top: 15px;
}
.transition--intro {
    margin-top: 25px;
}
.transition:after {
    content: '';
    display: inline-block;
    background: url(../img/arrow.svg) no-repeat;
    width: 20px;
    height: 8px;
    margin-left: 10px;
}
.transition:hover {
    text-decoration: underline;
}
.transition:hover:after {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-left: 20px;
    transition: .3s linear;
}
.intro__information {
    display: flex;
    justify-content: space-between;
}
.information__main {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    margin-bottom: 53px;
}
.information__block {
    max-width: 255px;
    max-height: 148px;
    padding: 30px 40px;
    margin: 0px 30px 30px 0px;
    background-color: #2378FC;
}
.information__block--application,
.information__block--plan {
    max-height: 175px;
}
.information__block--route {
    background-color: #30BCC9;
    margin-right: 0px;
}
.information__block--application {
    background-color: #FFC41E;
    margin-bottom: 0px;
}
.information__block--plan {
    background-color: #F6404F;
    margin: 0px;
}

/* =========== Side-menu =========== */

.side-menu {
    padding: 75px 0px;
    background-color: #2378FC;
}
.side-menu__column {
    display: flex;
    justify-content: space-evenly;
}
.subtitle--menu {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 39px;
    color: #fff;
}
.column__menu--link {
    margin-bottom: 15px;
}


/* =========== Events =========== */

.events {
    padding: 75px 0px 80px 0px;
    background-color: #FFC41E;
    color: #2E373B;
}
.events__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.transition--events {
    display: flex;
    align-items: center;
    font-size: 21px;
    line-height: 27px;
    color: #2E373B;
}
.transition.transition--events::after {
    background: url(../img/black-arrow.svg) no-repeat;
    width: 28px;
    height: 14px;
}
.events__development {
    display: flex;
    flex-wrap: wrap;
}
.events__item {
    max-width: 350px;
}
.events__item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.events__item--chest {
    margin-bottom: 18px;
}
.events__item img {
    margin-bottom: 20px;
}
.events__item img:hover {
    border-radius: 50px;
    transition: .4s linear;
}
.events__date,
.events__name {
    margin-bottom: 10px;
}
.events__date {
    font-size: 14px;
    line-height: 19px;
}
.events__name {
    display: inline-block;
    font-size: 21px;
    line-height: 27px;
    color: #F6404F;
    font-weight: 500;
}
.events__name:hover {
    text-decoration: underline;
}
.events__description {
    font-size: 16px;
    line-height: 21px;
}

/* =========== News =========== */

.news {
    background: #FAF3E3;
    padding: 75px 0px 85px 0px;
}
.news__content {
    display: flex;
}
.news__images img:first-child {
    margin-bottom: 55px;
}
.transition--news {
    color: #2E373B;
    font-size: 21px;
    line-height: 27px;
}
.transition.transition--news:after {
    background: url(../img/grey-arrow.svg) no-repeat;
    width: 28px;
    height: 14px;
}
.news__head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
}
.news__article {
    display: flex;
    margin-bottom: 30px;
}
.news__article:last-child {
    margin-bottom: 0px;
}
.news__article img {
    margin-right: 30px;
}
.article__info {
    display: flex;
    flex-direction: column;
}
.article__time {
    padding: 15px 0px;
    font-size: 16px;
    line-height: 21px;
    color: #F6404F;
}
.news__link {
    font-size: 21px;
    line-height: 27px;
    font-weight: 500;
    color: #2E373B;
}
.news__link:hover {
    text-decoration: underline;
}

/* =========== Footer =========== */

.footer {
    padding: 60px 0px 70px 0px;
    background-color: #30BCC9;
}
.footer__menu {
    display: flex;
    flex-wrap: wrap;
}
.subtitle--footer {
    margin-bottom: 20px;
    color: #fff;
}
/*  
.column--company {
    margin: 0px 166px 40px 0px;
}
.column--ekzi,
.column--people {
    margin-right: 122px;
}
.column--press {
    margin-right: 141px;
}
.column--sponsor {
    margin-right: 88px;
}
.column--app {
    margin-right: 126px;
}
.form__footer {
    max-width: 255px;
}
 */
